# ----------------------------------------------------------------------
# This is an example file. To use, please rename as .bashwarden.env
# ----------------------------------------------------------------------

# ----------------------------------------------------------------------
# Where your bitwarden is hosted
# ----------------------------------------------------------------------
bitwarden_host=https://mybitwardenbw.com

# ----------------------------------------------------------------------
# Get from https://mybitwardenbw.com/#/settings/security/security-keys, 
# `View API key`
# ----------------------------------------------------------------------
client_id=
client_secret=

# ----------------------------------------------------------------------
# Record to be updated with new password, can be found by watching
# Chrome Dev Tools while updating a record in the webUI
# ----------------------------------------------------------------------
cipher_id=aaaaaaaa-bbbb-cccc-dddd-eeeeeeeeeeee
